body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-rows: 20px auto;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rdg.fill-grid {
  height: 100%;
  overflow-x: hidden;
}

.rdg-row.unwatched {
  background-color: #dbfff8;
  color: #093c33;
}

.root-music {
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.image-grid {
  overflow: hidden;
  position: relative;
}

.image-grid-container {
  height: 100%;
  position: absolute;
  overflow: auto;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: 50px repeat(
      auto-fill,
      [col-start] minmax(250px, 1fr) [col-end]
    );
  grid-column-gap: 10px;
  padding: 10px;
}

.header > button {
  height: 38px;
  border-radius: 4px;
  border: solid #00c583 1px;
  background: none;
  color: #00c583;
}

.header > button:hover {
  cursor: pointer;
  background: #00c583;
  color: #fff;
}

.filter-select {
  z-index: 99;
}

.image-wrapper {
  position: relative;
}

.image-buttons-wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 100ms;
  position: absolute;
  background: none;
}

.image-buttons-wrapper:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 20%);
}

.image-buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-buttons button {
  background: none;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  border: white solid 1px;
  color: white;
  margin: 10px;
  font-size: 25px;
  padding-bottom: 4px;
  z-index: 99;
}

.image-buttons button:hover {
  cursor: pointer;
  color: #00ffab;
  border-color: #00ffab;
  background: #00ffab24;
}

.root-music .rdg-cell button:hover {
  cursor: pointer;
  color: #00c583;
}

.root-music .rdg-cell button {
  height: 26px;
  border-radius: 15px;
  width: 26px;
  text-align: center;
  font-size: 16px;
  display: block;
  margin-top: 4px;
  float: left;
  background: none;
  border: none;
  color: #282828;
}

.image-album {
  padding: 5px;
}

.image-album-title,
.image-album-artist,
.image-album-extra {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-album-title {
  font-size: 16px;
  font-weight: 600;
}

.image-album-artist {
  font-size: 14px;
}

.image-album-extra {
  font-weight: 200;
  font-size: 12px;
  height: 16px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #00c583;
  text-decoration: underline;
}

a.reverse-sort {
  display: table-cell;
  width: 10px;
  height: 32px;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 6px;
}

.sort-select {
  float: left;
  width: calc(100% - 14px);
}
